:root {
  --main-rojo: #ff4655;
  --main-blanco: #ece8e1;
  --main-negro: #111111;
  --main-gris: #e2ded8;
  --main-oscuro: #7e7e7e;
}

/* 
rojo #ff4655
blanco #ece8e1
negro #111111
gris #e2ded8
gris oscuro #7e7e7e */
